{% extends 'base.html' %}
{% block title %}revolve - dashboard{% endblock %}
{% block body %}
  <div class="row">
    <h3 class="center">dashboard</h3>
    <h5 class="center grey-text">manage your events here</h5>
    <br>
    <div class="center">
      <a href="{% url 'protests:create' %}" class="btn green">create</a>
    </div>
    <br>
    <div class="col s12 m12">
      <table class="highlight responsive-table">
        <thead>
        <tr>
          <th>name</th>
          <th>comments</th>
          <th>participants</th>
          <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for protest in request.user.organized_protests.all %}
          <tr>
            <td>
              <a href="{% url 'protests:detail' protest.slug %}">
                {{ protest.name }}
              </a>
            </td>
            <td>{{ protest.comments.count }}</td>
            <td>{{ protest.participants.count }}</td>
            <td>
              <a class="btn red" href="{% url 'protests:delete' protest.id %}">
                <i class="material-icons">delete</i>
              </a>
              <a class="btn blue" href="{% url 'protests:edit' protest.slug %}">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td>looking empty here</td>
            <td>no events so far</td>
            <td>create one today</td>
            <td><a href="{% url 'protests:create' %}" class="btn green">create</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block css %}
  <style>
      .tabs .tab a {
          color: #000;
      }

      .tabs .tab a:hover {
          background-color: #eeeeee;
          color: #000;
      }

      .tabs .tab a.active {
          background-color: transparent;
          color: #000;
      }

      .tabs .tab a:focus.active {
          color: #000;
          background-color: transparent;
      }

      .tabs .indicator {
          background-color: #000;
      }

  </style>
{% endblock %}
