{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
  <div class="row">
    <div class="col s12 m4">
      <h3>{{ user.get_full_name }}</h3>
      <h5 class="grey-text">{{ user.username }}</h5>
      <h6 class="grey-text">member since {{ user.date_joined | date }}</h6>
    </div>
    <div class="col s12 m8">
      <h3>events by {{ user.first_name }}</h3>
      <div class="row">
        <div class="col s12 m6">
          {% for protest in user.organized_protests.all %}
            <div class="card">
              <div class="card-content">
                  <span class="card-title">
                    <a href="{% url 'protests:detail' protest.slug %}">
                      {{ protest.name }}
                    </a>
                  </span>
                {{ protest.participants.count }} participants
                <span class="right">{{ protest.comments.count }} comments</span>
                <hr>
                {{ protest.timestamp | date }} {{ protest.timestamp | time }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <ul class="collection with-header">
        <li class="collection-header"><h5>comments</h5></li>
        {% for comment in user.comments.all %}
          <li style="margin: 11px 0;" class="collection-item">
            <span class="title">
              <a href="{{ comment.protest.get_absolute_url }}">{{ comment.protest.name }}</a>
              <span class="grey-text right">{{ comment.timestamp | timesince }} ago</span>
            </span>
            <div style="margin-top: 8px;">
              {{ comment.content }}
            </div>
          </li>
        {% empty %}
          <li class="collection-header">
            <h6>no comments yet</h6>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col s12 m6">
      <ul class="collection with-header">
        <li class="collection-header"><h5>participated in</h5></li>
        {% for participant in user.participating_in.all %}
          <li class="collection-item">
            <a href="{% url 'protests:detail' participant.protest.slug %}">
              {{ participant.protest.name }}
            </a>
            <span class="right">
              by <a href="{% url 'user:detail' participant.protest.organizer.username %}">
              {{ participant.protest.organizer.username }}
            </a>
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}